<main class="container">
        <!-- Lead Text -->
    <section class="row justify-content-center proj-intro-text">
        <h1 class="col-12 text-center">My Projects</h1>
        <p class="col-12 center">
            Here are a small selection of projects I have worked on. I am familiar with node.js/express servers, handlebars.js, react.js, j-query, mySQL & Mongo databases, and building PWA applications.
        </p>
        <p class="col-12 center">
            Click the images to animate!
        </p>
    </section>
    <!-- Cards to display projects -->
    <section class="row justify-content-center">
        <!-- Project 01 -->
        <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/rng-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating a user creating a secure password"
                data-animate="/assets/img/portfolio/rng-animate.gif"
                data-still="/assets/img/portfolio/rng-still.png"
                data-state="still">
                    <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://diegopie.github.io/random-password-generator" target="_blank">
                            <h4>Password Generator</h4>
                            </a>
                            <p class="card-text">This application allows users to quickly generate a secure password. Users are allowed to customize the length and character types that appears in their password</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/random-password-generator" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
            </div>
        </article>
        <!-- Project 02 -->
        <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/calendar-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating the searching of a city and getting weather results"
                data-animate="/assets/img/portfolio/calendar-animate.gif"
                data-still="/assets/img/portfolio/calendar-still.png"
                data-state="still">
                        <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://diegopie.github.io/local-weather-forecast" target="_blank">
                                <h4>Local Weather Forecast</h4>
                            </a>
                            <p class="card-text">This site utilizes OpenWeather API to allow users to search for local weather conditions for most US cities.</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/local-weather-forecast" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
            </div>
        </article>
        <!-- Project 03 -->
        <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/qrcodes-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating a user submitting event details to generate a QR code calendar invite"
                data-animate="/assets/img/portfolio/qrcodes-animate.gif"
                data-still="/assets/img/portfolio/qrcodes-still.png"
                data-state="still">
                        <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://diegopie.github.io/QR-aid-Codes" target="_blank">
                                <h4>QR-aid Codes</h4>
                            </a>
                            <p class="card-text">QR-Aid Codes allows users to search for their favorite video game and create a shareable calendar event to schedule play sessions.</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/QR-aid-Codes" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
            </div>
        </article>
        <!-- Project 04 -->
        <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/among-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating playing a randomly generated quiz and saving it with the Create A Quiz page"
                data-animate="/assets/img/portfolio/among-animate.gif"
                data-still="/assets/img/portfolio/among-still.png"
                data-state="still">
                        <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://the-smartest-amoung-us.herokuapp.com" target="_blank">
                                <h4>The Smartest Among Us</h4>
                            </a>
                            <p class="card-text ">This site allows users to play randomly generated quizzes, save and edit quizzes, and share their quizzes with friends to create a compete in private leader-boards.</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/The-Smartest-Among-Us" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
                
            </div>
        </article>
        {{!-- Project 5 --}}
         <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/budgetPWA-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating a user creating a secure password"
                data-animate="/assets/img/portfolio/budgetPWA-animate.gif"
                data-still="/assets/img/portfolio/budgetPWA-still.png"
                data-state="still">
                    <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://budget-pwaa.herokuapp.com/" target="_blank">
                            <h4>PWA Budget Tracker</h4>
                            </a>
                            <p class="card-text">This is a PWA with full offline functionality. Users can update their funds and see the graph update. When offline, data will be stored in IndexedDB then synced with the Mongo database once reconnected to the network.</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/PWA-Budget-App" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
            </div>
        </article>
        {{!-- Project 6 --}}
         <article class="col-auto col-md">
            <div class="card proj-cont">
                <!-- Card Image -->
                <img src="/assets/img/portfolio/budgetPWA-still.png" title="Click to animate" class="card-img-top proj-img" alt="Gif demonstrating a user creating a secure password"
                data-animate="/assets/img/portfolio/budgetPWA-animate.gif"
                data-still="/assets/img/portfolio/budgetPWA-still.png"
                data-state="still">
                    <!-- Card Text Content -->
                    <article class="card-body">
                        <div class="proj-text">
                            <a href="https://budget-pwaa.herokuapp.com/" target="_blank">
                            <h4>Water Cooler</h4>
                            </a>
                            <p class="card-text">Water Cooler is a video conferencing application that utilizes a sprite-based GUI for creating Social Spaces to chat in. User's can send internal site invites and each Social Space has a unique chat powered by sockets</p>
                        </div>
                        <div class="icon">
                            <a href="https://github.com/Diegopie/PWA-Budget-App" title="View on GitHub" target="_blank">
                                <img src="/assets/img/git-hub.png" class="card-img-top git" alt="Logo for GitHub website">
                            </a>
                        </div>
                    </article>
            </div>
        </article>
    </section>
</main>