/* global styling for site asthetic */
* {
    Border: none;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #a09ef0;
    color: white;
    overflow-x: hidden;
}


header {
    background-color: #716fbd;
}


/* Create more comfortable spacing between elements */
main h1, .card {
    margin: 20px 0px;
}

/* custom colors and width for cards */
.card {
    width: 18rem;
    background-color: #BBBD6F;
}

main section section .card {
    width: 14rem;
}

/* Center headings inside of cards */
h4 {
    text-align: center;
    color: white;
    text-decoration: underline;
    padding-bottom: 8px;
}

/* custom colors for buttons */
.button {
    border: solid 1px white;
    background-color: #BBBD6F;
    color: white;
}

.modal-cont {
    margin-top: 16px;
    background-color: #716fbd;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.center {
    text-align: center;
}


/* Index Specific */
.me-cont {
    height: 530px;
}

.index-text {
    text-indent: 25px;
}

/* Portfolio Specific */
.proj-img {
    height: 320px;
}

.proj-cont {
    height: 610px;
}

.proj-text {
    height: 222px;
    margin-bottom: 0px;
}

.icon {
    display: flex;
    justify-content: center;
}

.git {
    height: 30px;
    width: 30px;
    border: solid;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin: 3px 1px; 
}

/* For Index Page */


